include _includes/shared-HTML-functions

extends layout

block content
	.row.page-header
		.col-lg-12
			h1= location.name
	.row
		.col-xs-12.col-md-9
			.row
				.col-xs-12.col-sm-6
					p.rating
						+outputRating(location.rating)

					p.address= location.address
					.panel.panel-primary
						.panel-heading
							h2.panel-title Opening Hours
						.panel-body
							each operatingDay in location.hoursOfOperation
								p
									+outputHoursOfOperation(operatingDay)

					.panel.panel-primary
						.panel-heading Facilities
						.panel-body
							each facility in location.facilities
								span.label.label-warning
									span.glyphicon.glyphicon-ok
									| &nbsp; #{		facility	}
								| &nbsp;
							

				.col-xs-12.col-sm-6.map-location
					.panel.panel-primary
						.panel-heading
							h2.panel-title Location Map
						.panel-body
							img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=#{location.coords.lat},#{location.coords.lng}&zoom=14&size=340x340&markers=#{location.coords.lat},#{location.coords.lng}&sensor=false&scale=10&key=AIzaSyAOjfhWDWLuPCucs2piIjX5nL1h98bi0So')

			.row
				.col-xs-12
					.panel.panel-primary.panel-review
						.panel-heading
							a.btn.btn-default.pull-right(href='/location/review/new') Add Review
							h2.panel-title Customer Reviews
						.panel-body.container-review
							each review in location.reviews
								.row
									.review
										.well.well-sm.header-review
											span.rating
												+outputRating(review.rating)
											span.reviewAuthor #{review.author}
											small.reviewTimestamp
												+formatDate(review.dateCreated)
									.col-xs-12
										p #{review.reviewText}
							
		.col-xs-12.col-md-3
			p.lead Simon's cafe is on Loc8r because it has accessible wifi and space to sit down with your laptop and get some work done.
			p If you've been and you like it - or if you don't - please leave a review to help other people just like you.

